/* Header */
form {
    display: flex;
    align-items: center;
    margin: 20px auto;
    width: 50%;
  }

  input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }

  button[type="submit"] {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
  }

  .logo {
    margin-right: 20px;
  }

  h1 {
    font-size: 24px;
    margin: 0;
  }

  nav {
    display: flex;
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }

  nav ul li a {
    text-decoration: none;
    color: #000000;
  }

  nav ul li a:hover {
    color: #777777;
  }

  /* Footer */

  footer {
    background-color: #f2f2f2;
    padding: 20px;
  }

  .kontak {
    max-width: 500px;
    margin: 0 auto;
  }

  .kontak h2 {
    margin-bottom: 10px;
  }

  .kontak p {
    margin-bottom: 5px;
  }

  .kontak ul.media-sosial {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .kontak ul.media-sosial li {
    display: inline-block;
    margin-right: 10px;
  }

  .kontak ul.media-sosial li a {
    color: #000000;
  }

  .kontak ul.media-sosial li a:hover {
    color: #777777;
  }

  /* Ikon Font Awesome */

  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

  .fab {
    font-family: 'Font Awesome 5 Free';
    font-size: 18px;
  }
